.clientes-interno {
	margin-top: 40px;
	padding: 60px 0;
}

.cliente {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: 
	"clienteimg clientenome" 
	"clienteimg clientedescricao";
	column-gap: 20px;
	margin-bottom: 60px;
}

.cliente:nth-child(even) {
	grid-template-columns: 3fr 1fr;
	grid-template-areas: 
	"clientenome clienteimg" 
	"clientedescricao clienteimg";
}

.cliente-imagem {
	grid-area: clienteimg;
}

.cliente-descricao {
	grid-area: clientedescricao;
}

.cliente-nome {
	display: block;
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 10px;
	grid-area: clientenome;
}