.servicos-interno{

	width: 100%;
	padding: 40px 0;

}


.servicos-lista li{
	background: #e9e6df;
	text-align: center;
}

}

.servicos-lista li img{
	margin: 0 auto;
	


}

.servicos-lista a{


	color:#000; 
}



.servicos-lista li h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top:20px;
	color:#000;
	padding-right: 20px;
}

.servicos-lista li h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 2px auto;

}

.servicos-lista li p{
	color:#000;
	padding: 10px 20px 20px 20px
}


.servicos-icone{
	background: #e9e6df;
	padding: 10px;
}

.servicos-lista :last-child  li {
	margin-top: 20px;
	position: relative;
	left: -350px;


} 







