.servicos-interno{
	padding: 40px 0;

}

.servicos-lista {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 20px;
}

.servico {
	background: #e9e6df;
	text-align: center;
}


.servico div {
	height: 280px;

}

.servico a {
	color: #041408;
}



.servico h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top:20px;
	color: inherit;
	padding-right: 20px;
}

.servico h3:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #666;
	margin: 2px auto;
}

.servico a:hover {
	color: #666;
}

.servico p {
	color: inherit;
	padding: 10px 20px 20px 20px
}


.servicos-icone {
	background: #e9e6df;
}

.servicos-lista :last-child  li {
	margin-top: 20px;
	position: relative;
	left: -350px;


} 







